.panel {
  padding: 20px;
  width: 300px;
  margin: 0 auto;
  flex-grow: 1;
  border: 1px solid grey;
  border-radius: 5px;
}
.list {
  list-style: none;
  margin-top: 10px;
  padding: 5px;
}
.project {
  padding: 10px 15px;
  margin-bottom: 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.heading {
  text-align: center;
  margin: 5px 5px 20px 5px;
}
.details {
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
}
.details div {
  margin-bottom: 10px;
}
.details h4 {
  margin-bottom: 5px;
}
.detailsName {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  align-items: flex-end;
  border-bottom: 1px solid white;
}
.detailsStatus {
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
}

.input {
  width: 100%;
  border: 1px solid grey;
  padding: 5px 10px;
  border-radius: 5px;
}

.btn {
  background-color: white;
  margin: 5px 0px;
  margin-left: 0px;
  color: black;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}
.btn:hover {
  background-color: rgb(235, 235, 235);
}
